<h1>All Movies</h1>

<% current_sort = params[:sort] || session[:sort] %>
<% current_direction = params[:direction] || session[:direction] || 'asc' %>

<table>
  <thead>
  <tr>
    <th class="<%= 'sorted-asc' if current_sort == 'title' && current_direction == 'asc' %><%= ' sorted-desc' if current_sort == 'title' && current_direction == 'desc' %>">
      <%= link_to 'Title', movies_path(sort: 'title', direction: current_sort == 'title' && current_direction == 'asc' ? 'desc' : 'asc') %>
      <%= current_sort == 'title' ? (current_direction == 'asc' ? '▲' : '▼') : '' %>
    </th>
    <th class="<%= 'sorted-asc' if current_sort == 'rating' && current_direction == 'asc' %><%= ' sorted-desc' if current_sort == 'rating' && current_direction == 'desc' %>">
      <%= link_to 'Rating', movies_path(sort: 'rating', direction: current_sort == 'rating' && current_direction == 'asc' ? 'desc' : 'asc') %>
      <%= current_sort == 'rating' ? (current_direction == 'asc' ? '▲' : '▼') : '' %>
    </th>
    <th class="<%= 'sorted-asc' if current_sort == 'release_date' && current_direction == 'asc' %><%= ' sorted-desc' if current_sort == 'release_date' && current_direction == 'desc' %>">
      <%= link_to 'Release Date', movies_path(sort: 'release_date', direction: current_sort == 'release_date' && current_direction == 'asc' ? 'desc' : 'asc') %>
      <%= current_sort == 'release_date' ? (current_direction == 'asc' ? '▲' : '▼') : '' %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>
