<h1 class="movie-title">Create New Movie</h1>

<div class="movie-details card">
  <%= form_with(model: @movie, local: true) do |form| %>
    <% if @movie.errors.any? %>
      <div id="error_explanation" style="color: red">
        <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

        <ul>
          <% @movie.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title, 'Title', style: "display: block; margin-top: 10px;" %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :rating, 'Rating', style: "display: block; margin-top: 10px;" %>
      <%= form.select :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17'], {}, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :description, 'Description', style: "display: block; margin-top: 10px;" %>
      <%= form.text_area :description, rows: 4, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :release_date, 'Release Date', style: "display: block; margin-top: 10px;" %>
      <%= form.date_field :release_date, class: 'form-control' %>
    </div>

    <div class="actions" style="margin-top: 15px;">
      <%= form.submit 'Save Changes', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="button-group">
    <%= link_to 'Back to Movies', movies_path, class: 'btn btn-secondary' %>
  </div>
</div>
